<!DOCTYPE html>
<html>
  <body>


    in English<br>
    <b><%- messageEn %></b>
    <br>
    <br>
    in Turkish<br>
    <b><%- messageTr %></b>
    <br>
    <br>
    in Your Language<br>
    To show the message you should;<br>
    1. add your language tag into 'global.appLocales' array on /static.js file.<br>
    2. add message in your language on /int-pollyfill/static/views/static/index.js<br>
    <b><%- message %></b>
    <br>
    <br>

  </body>
</html>
